.hs-graph-axis {
    stroke:black;
    text {
        font-size: 120%;
        fill: black;
        stroke: none;
    }
}

.hs-graph-axis-x {
    text {
        text-anchor: end;
        baseline-shift: -2.0em;
    }
    .hs-graph-axis-tick-label text {
        text-anchor: middle;
        baseline-shift: -1.5em;
    }
}

.hs-graphg-axis-tick-marks {}

.hs-graph-axis-tick-label text {
    font-size: 90%;
}

.hs-graph-axis-y {
    text {
        text-anchor: middle;
        baseline-shift: 1em; 
    }
    .hs-graph-axis-tick-label text {
        text-anchor: end;
        baseline-shift: -0.4em;
    }
}
