.hs-graph-axis {
    stroke:black;
    text {
        fill: black;
        stroke: none;
    }
}

.hs-graph-axis-title {
    font-size: 120%;
}

.hs-graph-axis-x {
    .hs-graph-axis-title {
        text-anchor: end;
//        baseline-shift: -2.0em;
    }
    .hs-graph-axis-tick-label text {
    }
}

.hs-graph-axis-y {
    .hs-graph-axis-title {
        text-anchor: middle;
//        baseline-shift: 1em; 
    }
    .hs-graph-axis-tick-label text {
    }
}

.hs-graph-axis-major-tick-marks {}
.hs-graph-axis-minor-tick-marks {}

.hs-graph-axis-tick-label text {
    font-size: 90%;
}

