.hs-graph {
    font-size: 24px;
}

.hs-graph-chart {
}

.hs-graph-axis {
    stroke:black;
    text {
        font-size: 100%;
        fill: black;
        stroke: none;
    }
}

.hs-graph-axis-x {
    text {
        font-size: 120%;
        text-anchor: end;
        baseline-shift: -2.0em;
    }
    .hs-graph-axis-tick-label text {
        font-size: 90%;
        text-anchor: middle;
        baseline-shift: -1.5em;
    }
}

.hs-graph-axis-y {
    text {
        font-size: 120%;
        text-anchor: middle;
        baseline-shift: 1em; 
    }
    .hs-graph-axis-tick-label text {
        font-size: 90%;
        text-anchor: end;
        baseline-shift: -0.4em;
    }
}

.hs-graph-grid {}

.hs-graph-series {
    stroke: red;
    fill: none;
}

.hs-graph-title {}

.hs-graph-legend {}