.hs-site-header {   // the top bar of the site
    border-bottom: 1px solid @BorderColor;
}


.hs-site-title {    // the left Header in the top bar
    padding: 5px 10px;  
}

@hdrTabColor: lighten(@BorderColor, 15%);

.hs-menu-item {   // name menu item in hs-modules-title
}

.hs-menu-item-selected {
} 