.hs-site-header {   // the top bar of the site
    border-bottom: solid blue 1px;
}


.hs-site-title {    // the left Header in the top bar
    padding: 5px 10px;  
}

.hs-module-title {  // the bar containing the module menu
}


.hs-module-name {   // name menu item in hs-modules-title
    padding: 5px 0px 5px 10px;
    background-color: #eee;
    border: solid white 2px;
}
