.hs-item-comment { // applies to main comment on item
    font-size: 1em;
    padding: 10px 0px; 
//    border-bottom: 1px solid #ccc;
}

.hs-item-comment-special {  // special comment tag, e.g. @ngdoc
    margin: 4px;
    clear:left;
}

.hs-item-comment-tag {      // tag for special comment tag, e.g. @ngdoc
    font-size: 0.8em;
    background-color: #eee;
    border: 1px solid #aae;
    border-radius: 2px;
    font-weight: bold;
    width: 70px;
    padding-left:5px;
    margin-right:10px;
    float:left;
    &:after { content: ':'}
}

.hs-item-comment-text {     // text for special comment tag, e.g. @ngdoc
    font-size: 0.8em;
}

.hs-item-comment-desc {     // text for special comment tag, e.g. @ngdoc
    font-size: 0.8em;
    line-height: 1.5em;
    padding-left: 5px;
    li, p {
        margin:0 0 5px 0;
    }
    ul {
        margin:-5px 0 10px 0;
    }
}
