@import "@{theme}/mainTitle";
@import "@{theme}/mainComment";
@import "@{theme}/mainMembers";


.hs-main-detail { // the main information window on the right
    border-left: 1px solid #aaf;
}

.hs-item-doc {      // applies to entire main item pane
}

//----------- debug formats
.hs-item-detail {
    list-style-type: none; 
    margin-top:50px;  
}



