@MenuBgColor: #eee;
@SelectBgColor: #fff;
@ItemBorder: 1px solid white;

.hs-menu { 
    overflow:hidden;
    .hs-menu-item {   // name menu item in hs-modules-title
        padding: 5px 0px 5px 10px;
        background-color: @MenuBgColor;
        border-left: @ItemBorder;
        border-right: @ItemBorder;
    }
    .hs-menu-item-selected {
        background-color: @SelectBgColor; 
        font-weight:bold;
    }
}


