@bg-example: #eed;
@bg-source:  #dde;
@menuItemBorder: 1px solid #ddd; 
@windowHeight: 300px;

example {
    display:block;
    height: @windowHeight;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
     
    .hs-execution { 
        background-color: @bg-example; 
        div { margin: 0px; }
        .hs-leaf { padding: 5px; } 

        .hs-white {    // white background for example execution
            position: absolute;
            background-color:white;
            padding-left: 5px;          // start content 5px in
            left: 5px;                  // show 5px left border
            top: 0;
            bottom:0;
            right: 0;
        }
    }

    .hs-source {
        .hs-menu .hs-selectable {
            background-color: white;
            &.hs-selected {
                background-color: @bg-source;
            }
        }
        .hs-source-main {
            background-color: @bg-source;  
            font-size: 12px;
        }

        .hs-selected  { 
            background-color: @bg-source; 
        }
    } 

    pre { padding-left: 10px; }

    &>.hs-column-layout{
        &>.hs-layout:last-child {
            border-left: 3px solid white;
        }
    }
    code, pre {
        background-color:transparent;
        color:black;
        line-height: 18px;
    }    
}