@import "Layout.less";


//-------- Top Level Structure --------------------
.hs-site-header {   // the top bar of the site
    width: 100%;     
}

.hs-site-main {     // the bottom main part of the page
    width: 100%;     
}

.hs-site-footer {   // the bottom bar of the site
    width: 100%;     
}

//-------- Top Level Structure --------------------


.hs-site-title {    // the left Header in the top bar
    width: 100%;     
}

.hs-module-title {  // the bar containing the module menu
    width: 100%;     
}

.hs-module-name {   // name menu item in hs-modules-title
    width: 100%;     
}

.hs-module-nav {    // the left detail window providing a nav overview
    width: 100%;     
}

.hs-module-detail { // the main information window on the right
    width: 100%;     
}

