@import "../../../hsLayout/src/css/Layout.less";


//-------- Top Level Structure --------------------
.hs-site-header {   // the top bar of the site
}

.hs-site-main {     // the bottom main part of the page
}

.hs-site-footer {   // the bottom bar of the site
}


//----------- HeaderBar parts --------------------------------------------------------

.hs-site-title {    // the left Header in the top bar
    padding: 5px 10px;  
}

.hs-module-title {  // the bar containing the module menu
}

.hs-module-name {   // name menu item in hs-modules-title
}

//----------- MainArea parts --------------------------------------------------------

.hs-module-nav {    // the left detail window providing a nav overview
    font-size:70%;
    list-style-type: none;   
}

.hs-module-detail { // the main information window on the right
} 

//----------- MainNav parts --------------------------------------------------------

.hs-member-list {
    margin-left:10px;
}

.hs-item-detail {
    list-style-type: none;   
}