body {
    color: black;
}

example {
    display:block;
    height: 300px;
    width: 100%;
    background-color: #eea;
}

.hs-layout {
    margin:0;
    padding:0;
}

//-------- Top Level Structure --------------------
.hs-site-header {   // the top bar of the site
}

.hs-site-main {     // the center main part of the page, incl. leftNav and mainDetail
}

.hs-site-footer {   // the bottom bar of the site
}


//----------- HeaderBar parts --------------------------------------------------------

.hs-site-title {    // the left Header in the top bar
}

//----------- MainArea parts --------------------------------------------------------

.hs-left-nav {    // the left detail window providing a nav overview
}

.hs-main-detail { // the main information window on the right
} 

