.hs-layout {
    left: 0%; top: 0%;
    width:100%;
    height:100%;
    position: absolute; 
    display: block;
    overflow: scroll;
}

.hs-row-layout>.hs-layout {
    box-sizing: border-box;
}

.hs-column-layout>.hs-layout {
    box-sizing: border-box;
}

.hs-tile-layout>.hs-layout {
    box-sizing: border-box;
}

.hs-layout-frame {
    position:relative;
}

.hs-layout-fill {
    position:relative;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
}

.hs-align-left {
    text-align: left;
}

.hs-align-right {
    text-align: right;
}

.hs-align-center {
    text-align: center;
}
